@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 225px;
    background: #1b1a1a;
    border-radius: 5px;
    /* display: none; */
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}



.square {
    width: 100px;
    height: 100px;
}

.triangle {
    width: 0px;
    height: 0px;
    border-top: 50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;

}

.cylinder {
    width: 25px;
    height: 50px;
    border-radius: 50px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: none;
    overflow: hidden;
}

.rectangle {
    height: 25px;
    width: 50px;
}

.oval {
    width: 50px;
    height: 25px;
    border-radius: 50%;
}


/* Custom message styles */
.custom-block__message {
    min-width: 200px;
    max-width: 400px;
    min-height: 50px;
    position: absolute;
    top: 150px;
    background-color: #1b1a1a;
    color: #eee;
    padding: 30px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    transition: background-color ease-in-out .25s;
}

.start-message {
    width: 500px;
    height: 200px;
    position: absolute;
    background-color: #111111;
    top: 40%;
    left: 30%;
    border: 1px solid black;
    text-align: center;
}

.shape-game-title {
    color: white;
    margin: 20px 0 20px 0;
}

.shape-game-text {
    color: white;
}

.end-message {
    width: 500px;
    height: 200px;
    position: absolute;
    background-color: #111111;
    top: 40%;
    left: 30%;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape-end-title {
    color: white;
    font-size: 40px;
}

.placeholders {
    position: absolute;
    left: 80%;
    top: 5%;
    width: 150px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shape-area {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}